@font-face {
  font-family: 'source-code-pro';
  src: url('../fonts/SourceCodePro-VariableFont_wght.woff2');
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgba(196, 128, 196, 0.1);
}

p {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
}

#top-toolbar {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: flex-end;
}

#top-toolbar button {
  background: #fff;
  padding: 6px 9px;
  border: 1px solid #000;
  font-size: inherit;
  vertical-align: middle;
}

#top-toolbar button * {
  vertical-align: inherit;
}

#banner {
  font-family: 'Gill Sans', sans-serif;
  width: 30em;
  position: absolute;
  left: calc((100vw - 30em) / 2);
  top: 150px;
  font-size: 18px;
  line-height: 1.5em;
  z-index: 1;
  background: rgb(225, 191, 225);
  padding: 20px;
  border: 1px solid black;
}

#banner h1 {
  font-size: 1.2em;
}

#banner p {
  padding-top: 0.5em;
  font-size: 1em;
}

#banner svg {
  height: 16px;
  width: 16px;
}

.login-button {
  padding: 5px 9px;
  border: none;
  border-radius: 12px;
  background: #000;
}

.login-buttons,
.profile-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0.75em 0;
}

.login-buttons > * {
  flex: 0 1 auto;
  margin: 0 1em;
}

.login-button span,
svg {
  color: #fff;
  vertical-align: middle;
}

.profile-url {
  font-size: 20px;
  height: 1em;
  line-height: 20px;
}

.profile-url span,
svg {
  flex: 0 1 auto;
  margin: 0 6px;
  vertical-align: middle;
  display: inline;
}

h1 {
  padding-bottom: 0.5em;
}

#top-toolbar > .github {
  flex-grow: 0;
}

#top-toolbar img,
#top-toolbar svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#left,
#right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 40px;
}

#editor,
#repl,
iframe.canvas {
  border: 1px solid #ccc;
  margin-top: 10px;
}

iframe.canvas {
  display: block;
}

#editor,
#repl {
  flex-grow: 1;
}

#repl {
  background: #fffffe;
  overflow-y: scroll;
  padding: 0.5em;
}

#repl div {
  padding-top: 0px;
}

span.prompt,
span.output {
  font-size: 1.3em;
}

#repl div.error {
  color: #f44;
}

#repl div.message {
  font-style: italic;
}

#repl div.value,
div.error,
div.message {
  padding-bottom: 13px;
}

#repl div.log {
  font-style: italic;
}

#minibuffer {
  padding: 6px;
  width: 100px;
  display: inline-block;
  flex-grow: 1;
}

*[contenteditable='true'] {
  outline: unset;
}

.codeLink {
  text-align: right;
  height: 20px;
  padding-top: 10px;
}

.codeLink * {
  vertical-align: middle;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding-top: 10px;
}

#toolbar > * {
  padding: 0 10px;
  vertical-align: middle;
}

#toolbar > * {
  flex-grow: 0;
}

#submit {
  width: 2em;
  height: 2em;
}

#toolbar > #minibuffer {
  flex-grow: 1;
}
