html {
  font-family: "Gill Sans", sans-serif;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1in auto;
  width: fit-content;
}

#board {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#board div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 105px;
  border: 1px solid grey;
  font-size: 16px;
  font-family: monospace;
}

.codeLink {
  margin-top: 2em;
  text-align: right;
}

.codeLink * {
  vertical-align: middle;
}
