body {
  margin: .5in;
  font-family: "Gill Sans", sans-serif;
  font-weight: 300;
}

h1, h2 { font-weight: 300; }

#question {
  font-family: monospace;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  //border: thin solid green;
}

.hole {
  padding: 2px;
  width: 1em;
  border: thin solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#answers {
  font-family: monospace;
  text-align: center;
  //border: thin solid red;
}
#answers button {
  margin: 4px;
  padding: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

#answers button.selected {
  background: blue;
  color: white;
}

#log {
  margin-top: 40px;
}


#log table {
  margin: auto;
  width: 80%;
  table-layout: fixed;
}

col.question { width: 25%; }
col.answer { width: 30%; }
col.notes { width: 25%; }
col.result { width: 20%; }


th { 
  font-weight: 300;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
}
td, th { padding: 10px; }
th { text-align: center; }
td { text-align: left; }
td:last-child { text-align: center; }

tr.pass { background: rgba(100, 255, 100, 0.2); }
tr.fail { background: rgba(255, 100, 100, 0.2); }

.mono { font-family: monospace; }